In [1]:
# import relative package
import urllib.request
import csv
import pandas as pd

In [2]:
# download data & to pandas
url = 'https://odws.hccg.gov.tw/001/Upload/25/OpenData/9059/26/761579da-7ca4-4cc1-877f-a0840ab15ca8.csv'
urllib.request.urlretrieve(url, './data/51.csv')
with open('./data/51.csv') as csvfile:
    csvreader = csv.reader(csvfile)
    header = next(csvreader)
    rows = list(csv.reader(csvfile))
df_bus = pd.DataFrame(data=rows, columns=header)

In [40]:
schedules = []
drive_minutes = []
for c in df_bus.columns[5:-1]:
    list_bus = df_bus[c].to_list()
    start_hour = int(list_bus[0][:2])
    start_minute = int(list_bus[0][3:5])
    end_hour = int(list_bus[-1][:2])
    end_minute = int(list_bus[-1][3:5])
    drive_minute = 60 * (end_hour - start_hour) + (end_minute - start_minute)
    schedules.append(c)
    drive_minutes.append(drive_minute)
df_schedules = pd.DataFrame({'schedules': schedules, 'drive_minutes': drive_minutes})

In [41]:
df_schedules

   schedules  drive_minutes
0        班次1             85
1        班次2            120
2        班次3            120
3        班次4            120
4        班次5            120
5        班次6            140
6        班次7            140
7        班次8            130
8        班次9             90
9       班次10             80
10      班次11             60